@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap");
/*font-family: "Inter", sans-serif;
font-family: "Outfit", sans-serif;*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-image: url(../bg.jpg);
  background-size: cover;
  margin-top: 2rem;
}

.logo {
  width: 150px;
}

main {
  margin-inline: auto;
  width: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
}
h1 {
  font-size: 60px;
}

.light-blue {
  background-color: #00ffff;
}

/*.purple{
    background-color: #D20094;
    background-color: #900080;
}*/

#rate-us {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: large;
  padding-inline: 3.5rem;
  padding-block: 0.8rem;
}

.center-results {
  text-align: center;
}

.bianco {
  color: white;
}

.size {
  font-size: 50px;
}

.grandezza {
  font-weight: 100;
  padding-block-end: 3rem;
}

.risposte-corette {
  display: inline-block;
  padding: 2rem;
}

.risposte-sbagliate {
  display: inline-block;
  padding: 2rem;
}

.contenitore-grafico {
  display: inline-block;
  margin-inline: 4rem;
}

.contenitore-risultato {
  margin-block-end: 4rem;
}

.center-grafico {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container-quiz {
  width: 300px;
  height: 300px;
}

.circle-container-quiz {
  width: 290px;
  height: 290px;

  background-color: #ddd;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  mask-image: radial-gradient(circle farthest-side at center, transparent 70%, white 70%);
}

.semicircle-quiz {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: right center;
}

.semicircle-quiz:nth-child(1) {
  background-color: #d20094;
  z-index: 3;
}

.semicircle-quiz:nth-child(2) {
  background-color: #00ffff;
  z-index: 3;
}

.semicircle-quiz:nth-child(3) {
  background-color: #ddd;
  z-index: 4;
}

.outermost-quiz {
  width: 150px;
  height: 150px;
  background-color: blue;
  border-radius: 50%;
  z-index: 5;
}

.main-container-quiz:hover .semicircle-quiz:nth-child(1) {
  transform: rotate(180deg);
  transition: 1s linear;
}

.main-container-quiz:hover .semicircle-quiz:nth-child(2) {
  transform: rotate(360deg);
  transition: 2s linear;
}

.main-container-quiz:hover .semicircle-quiz:nth-child(3) {
  opacity: 0;
  transition: opacity 0s 1s;
}

.commento-risultato {
  width: 500px;
  height: 500px;
  margin-inline: 15rem;
}
