@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url(../assets/bg.jpg);
  color: white;
  font-family: "Inter", sans-serif;
  text-align: center;
  background-size: cover;
  font-size: 16px;
  margin-top: 2rem;
}

main {
  width: 70%;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 60px;
}

.purple {
  color: #900080;
}

.logo {
  text-align: left;
}

.logo img {
  width: 150px;
}

/*TIMER CSS PROGETTAZIONE*/

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container-timer {
  width: 160px;
  height: 160px;
}

/* progress indicator */

.circle-container {
  width: 150px;
  height: 150px;

  background-color: #ddd;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  mask-image: radial-gradient(circle farthest-side at center, transparent 80%, white 80%);
}

.semicircle {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: right center;
}

.semicircle:nth-child(1) {
  background-color: #00ffff;
  z-index: 2;
}

.semicircle:nth-child(2) {
  background-color: #00ffff;
  z-index: 3;
}

.semicircle:nth-child(3) {
  background-color: #ddd;
  z-index: 4;
}

.outermost-circle {
  width: 120px;
  height: 120px;

  background-color: blue;
  border-radius: 50%;
  z-index: 5;
}

/* hover -for testing only */

/*
.main-container:hover .semicircle:nth-child(1) {
  transform: rotate(180deg);
  transition: 1s linear;
}

.main-container:hover .semicircle:nth-child(2) {
  transform: rotate(360deg);
  transition: 2s linear;
}

.main-container:hover .semicircle:nth-child(3) {
  opacity: 0;
  transition: opacity 0s 1s;
}

*/

/* timer*/

.timer-container {
  width: 90px;
  height: 70px;
  flex-direction: column;
  z-index: 6;
}

.timer {
  z-index: 7;
}

.timer div {
  font-size: 50px;
  font-weight: 100;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
  color: white;
  font-family: "Inter", sans-serif;
}

.timer .colon {
  background-color: transparent;
  width: 10px;
  margin-inline: 0;
  padding-block-end: 15px;
}

.timer-text p {
  font-size: 10px;
  color: white;
  font-family: "Inter", sans-serif;
}

/*//////////////////////////////*/
#question {
  font-size: 40px;
  padding-inline: 5rem;
  margin-bottom: 3rem;
}

.question-container {
  margin: 5rem;
}

#options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.options-container {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding-block: 1rem;
  border-radius: 50px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin: 0.5rem 2rem;
  width: 40%;
}

.options-container:hover {
  background-color: #900080;
}

.styled-label {
  padding-inline: 9rem;
  padding-block: 1rem;
}

.option-input {
  display: none;
}
